*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  min-width: 1280px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.conteiner {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  box-shadow: 0 0 10px 6px #dbdbdb;
}

.inner-page {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  box-shadow: 0 0 10px 6px #dbdbdb;
}

a {
  text-decoration: none;
}

.main-header {
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  position: relative;
  padding: 0px;
  margin: 0px;
}

.header-logo {
  padding: 0px;
  margin: 0px;
  position: absolute;
  left: 50%;
  margin-left: -70px;
}

.nav {
  list-style: none;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  padding: 17px 0px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
}

.nav a {
  color: #000000;
}

.nav li {
   width: 20%;
}

.nav li:nth-child(2) {
  margin-right: auto;
}

.nav a:hover {
  color: #81b3d2;
}

.nav a:active {
  color: #b2b2b2;
}

.main-welcome {
  background-color: #f2f2f2;
  background-image: url("../img/main-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 61px;
  padding-bottom: 79px;
}

.small-city {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #ffffff;
}

.small-city h2 {
  margin: 0;
  padding: 0 300px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  padding-top: 60px;
}

.small-city p {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 50px;
}

.really-city {
  background-color: #81b3d2;
  display: flex;
}

.really-city h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.really-city p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.really-city-1 {
  margin: 0;
  padding: 0;
  width: 400px;
}

.really-city-1 h3 {
  margin: 0;
  padding: 0 100px;;
  padding-top: 45px;
  padding-bottom: 25px;
  text-align: center;
}

.really-city-1 p {
  margin: 0;
  padding: 0 60px;
  padding-bottom: 25px;
  text-align: center;
}

.really-city-photo {
  line-height: 0;
}

.mail-item {
  background-color: #ffffff;
  text-align: center;
  display: flex;
  position: relative;
}

.advantages-item {
  width: 400px;
  text-align: center;
}

.advantages-item h3 {
  margin: 0;
  padding: 0;
  padding-top: 155px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.advantages-item p {
  margin: 0;
  padding: 0 55px;
  padding-top: 25px;
  padding-bottom: 80px;
  line-height: 21px;
}

.icon-item-1::before {
  content: "";

  position: absolute;
  left: 190px;
  top: 60px;

  width: 75px;
  height: 72px;

  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.bridge-diablo {
  background-color: #81b3d2;
  display: flex;
}

.bridge-diablo h3 {
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.bridge-diablo p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.bridge-diablo-place {
  margin: 0;
  padding: 0;
  width: 400px;
}

.bridge-diablo-place h3 {
  margin: 0;
  padding: 0 100px;;
  padding-top: 45px;
  padding-bottom: 25px;
  text-align: center;
}

.bridge-diablo-place p {
  margin: 0;
  padding: 0 60px;
  padding-bottom: 25px;
  text-align: center;
}

.bridge-diablo-photo {
  line-height: 0;
}

.outbridge {
  background-color: #eeeeee;
  min-height: 256px;
}

.outbridge ul {
  list-style: none;
  text-align: center;
}

.outbridge h3 {
  margin: 0;
  padding: 0 130px;
  padding-top: 45px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.outbridge p {
  margin: 0;
  padding: 0 70px;
  padding-top: 25px;
  line-height: 21px;
}

.outbridge-item {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.outbridge-list {
  width: 400px;
}

.interest {
  background-color: #ffffff;
  text-align: center;
}

.interest p {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 35px;
  font-size: 14px;
  line-height: 24px;
}

.interest .answer {
  margin: 0;
  padding: 0;
  padding-top: 55px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.search-hotels {
  padding: 0px;
  margin: 0px;
  position: relative;
}

.form-search-hotels {
  padding: 0px;
  margin: 0px;
  width: 568px;
  height: 395px;
  position: absolute;
  left: 50%;
  margin-left: -284px;
}

.map-photo {
  min-width: 1200px;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  line-height: 0;
}

.button-search-hotels {
  padding: 35px 140px;
  margin: 0px;
  color: #ffffff;
  background-color: #766357;
  background-position: center;
  text-transform: uppercase;
  border: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: 400;
  vertical-align: middle;
}

.button-search-hotels:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.button-search-hotels:hover {
  background-color: #604e43;
}

.form-search-hotels {
  text-align: center;
  background-color: #ffffff;
}

.form {
  padding: 55px;
  margin: 0px;
}

.form-row {
  padding: 0px;
  margin: 0px;
}

.form-row label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.form-row input {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.form-row input:focus {
  background-color: #ffffff;
  border-color: #e5e5e5;
}

.form-row input:hover {
  background-color: #ebebeb;
}

.search {
  padding: 20px 197px;
  margin: 0px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  background-position: center;
  text-transform: uppercase;
  border: none;
  vertical-align: middle;
}

.search:hover {
  background-color: #669ec0;
}

.search:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-form {
  background-color: #f2f2f2;
  color: #a9a9a9;
}

.button-form:hover {
  color: #000000;
}

.button-form:active {
  color: #81b3d2;
}

.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.teg {
  min-width: 400px;
  padding: 50px 130px;
  margin: 0px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.social {
  display: flex;
  min-width: 400px;
  padding: 36px 213px;
  margin: 0px;
  list-style: none;
  color: #000000;
}

.footer-copyright {
  min-width: 400px;
  padding: 40px 100px;
  margin: 0px;
}

.button-footer {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}




/*----- Вторая страница -----*/





.inner-nav {
  list-style: none;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.inner-header {
  text-align: center;
  background-color: #ffffff;
  position: relative;
  padding: 0px;
  margin: 0px;
  height: 56px;
}

.header-logo {
  padding: 0px;
  margin: 0px;
  position: absolute;
  left: 50%;
  margin-left: -70px;
}

.inner-nav a {
  color: #000000;
}

.inner-nav a:hover {
  color: #81b3d2;
}

.inner-nav a:focus {
  color: #b2b2b2;
}

.active.active,
.active.active:active,
.active.active:hover {
  color: #766357;
}

.main-filtres-form {
  min-height: 220px;
  min-width: 1200px;
  background-image: url("../img/main-hotels.jpg");
  background-color: #f2f2f2;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main-filtres-form ul {
  list-style: none;
  background-color: transparent;
}

.main-filtres-form h3 {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: transparent;
}

.main-filtres-form label {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  background-color: transparent;
}

/*.main-filtres-form input {
  border-color: #ffffff;
  color: #ffffff;
}

.main-filtres-form input:hover {
  border-color: #ffffff;
  color: #ffffff;
}

.main-filtres-form input:disabled {
  border-color: #6a6a6a;
  color: #6a6a6a;
}*/

.column-1 {
  width: 241px;
}

.column-2 {
  width: 288px;
}

.column-3 {
  margin-left: auto;
  width: 400px;
}

.price-day {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: transparent;
}

.main-filtres-form button {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  background-color: transparent;
  background-position: center;
  text-transform: uppercase;
  border-color: #000000;
  vertical-align: middle;
  border-color: #ffffff;
}

.shows:hover {
  color: #000000;
  background-color: #ffffff;
}

.filtres {
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
}

.filtres-conteiner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.filtres h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.filtres p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.filtres li {
  list-style: none;
  background-color: #ffffff;
}

.filtres a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #cacaca;
  background-color: #ffffff;
  border-bottom: 1px dotted #81b3d2;
  list-style: none;
}

.filtres a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.filtres a:active {
  color: #000000;
  border: none;
  text-decoration: none;
}

.for-price.for-price,
.for-price.for-price:active,
.for-price.for-price:hover {
  color: #81b3d2;
  border: none;
}

/*.icon-up {
  background-color: #ffffff;
  background-image: url(img/icon-up-dir.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  color: #cacaca;
}

.icon-down {
  background-color: #ffffff;
  background-image: url(img/icon-down-dir.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  color: #cacaca;
}

.icon-up:active,
.icon-down:active,
.icon-up:hover,
.icon-down:hover {
  color: #81b3d2;
}

.icon-up:focus,
.icon-down:focus {
  color: #000000;
}*/

.sort {
  width: 290px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.results {
  background-color: #ffffff;
  height: 450px;
  border-bottom: 1px solid #e5e5e5;
}

.hotels-conteiner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}

.hotels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 73px;
  padding-right: 73px;
}

.hotels-photo {
  width: 135px;
  height: 90px;
}

.hotels h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.name-hotels {
  color: #000000;
}

.hotels h2:active,
.name-hotels:active {
  color: #b2b2b2;
}

.hotels h2:hover,
.name-hotels:hover {
  color: #81b3d2;
}


/*.hotels h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.name-hotels a:active {
  color: #b2b2b2;
}

.name-hotels a:hover {
  color: #81b3d2;
}*/

.hotels p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #5c5c5c;
  background-color: #ffffff;
  text-align: center;
}

.detail {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
}

.reserved {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
}

.information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 891px;
  height: 90px;
}

.information-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  width: 393px;
  min-height: 90px;
}

.star {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.detail:hover {
  background-color: #669ec0;
}

.detail:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.reserved:hover {
  background-color: #604e43;
}

.reserved:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

/*.stars {
  background-color: #ffffff;
  background-image: url(img/star.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  color: #81b3d2;
}*/

.rating {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #666666;
  background-color: #f2f2f2;
  text-align: right;
}

.inner-footer {
  background-color: #ffffff;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding:0;
  border:0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
